
<head>
<h2 style="text-align : center; font-weight : bold; " class="page-header">Hobbly</h2>
<div style="background-color: white width: auto; border: 2px solid black; padding: 5px; margin: 5px;" class="homeStuff">
  <h4 style="text-align : center; font-weight : bold;"> Welcome to Hobbly <br><br>You can ask questions by registering yourself or logging in. To look up questions 
   on your hobby you can navigate to the search tab and enter tags for what you are looking for.</h4>
  </div>
  <br>
<link rel="stylesheet" href="./css/styles.css">
<!-- ADD SLIDE SHOW, LINK TO --> 

<!-- Slideshow container -->

<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img src="Image1.jpeg" style="width:100%">
  <div class="text">Caption Text</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="Image2.webp" style="width:100%">
  <div class="text">Caption Two</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="Image3.png" style="width:100%">
  <div class="text">Caption Three</div>
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

  </head>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<h4 style="text-align : center; font-weight : bold;">{{userNumber}} users have made an account with Hobbly !</h4>
  <h4 style="text-align : center; font-weight : bold;">{{quesNumber}} forums have been created !</h4>
  <h4 style="text-align : center; font-weight : bold;">{{ansNumber}} answers have been added !</h4>
  <h4 style="text-align : center; font-weight : bold;">{{commNumber}} comments have been posted !</h4>

